@import url("https://fonts.googleapis.com/css?family=Ultra");

.App {
  text-align: center;
}

.w {
  background-color: black;
  height: 100vh;
}

.b {
  font-family: Ultra;
  background-color: #e5c100;
}
