@import url("https://fonts.googleapis.com/css?family=Ultra");

.App {
  text-align: center;
  background-color: white;
  height: 100vh;
}

.wb {
  font-family: Ultra;
  background-color: #e5c100;
}

.t {
  width: 18rem;
}
